body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 90%;
}

.container {
    background-color: rgb(92, 87, 87);
    padding: 30px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    font-size: 16px;
    border-radius: 8px;
}

button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkblue;
}

#resultadoTabuada {
    margin-top: 20px;
    padding-top: 15px;
    font-size: 16px;
    border-top: 1 solid #eee;
    text-align: center;
}

#resultadoTabuada p {
    margin: 5px 0;

}

body.tema-escuro {
    background-color: #121212;
    color: #f5f5f5;
}

.container.tema-escuro {
    background-color: #1e1e1e;
}